[Desktop Entry]
Type=Application
Exec=autokey
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=autokey
Name=autokey
Comment[ja_JP]=
Comment=
