[Desktop Entry]
Type=Application
Exec=easystroke
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=easystroke
Name=easystroke
Comment[ja_JP]=
Comment=
