[Desktop Entry]
Type=Application
Exec=goldendict
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=goldendict
Name=goldendict
Comment[ja_JP]=
Comment=
