[Desktop Entry]
NoDisplay=true
Type=Application
Version=2.20200423.1
Name=Kite
Comment=Kite - ML powered code completions
Exec=/home/yukio/.local/share/kite/kited --system-boot
