[ghq]
    root =~/git
[user]
	email = fenrirpride@gmail.com
	name = yukio
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
