[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud.AppImage
Comment=pcloud.AppImagestartup script
Exec=/home/yukio/.AppImages/pcloud.AppImage
StartupNotify=false
Terminal=false