[Desktop Entry]
Type=Application
Exec=sh /etc/opt/xkeysnail/start_xkeysnail.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=xkeysnail
Name=xkeysnail
Comment[ja_JP]=
Comment=
